---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experiences from '../components/Experiences.astro';
import Rooms from '../components/Rooms.astro';
import Gallery from '../components/Gallery.astro';
import Reservations from '../components/Reservations.astro';
import Reviews from '../components/Reviews.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Chalet Chiba · Cabană de Munte">
	<Navbar />
	<main>
		<Hero />
		<About />
		<Rooms />
		<Experiences />
		<Gallery />
		<Reservations />
		<Reviews />
		<Contact />
	</main>
</Layout>


